{% if cart.item_count > 0 %}
    <form action="/cart" method="post" novalidate>
        <div class="cart-page-container">
            {% for item in cart.items %}
                {% include 'cart-item' %}
            {% endfor %}
        </div>
        <div>
            <p>sub total :
                {{ cart.total_price | money }}</p>
            <button name="update" type="submit">Update</button>
            <button name="checkout" type="submit">Checkout</button>
        </div>
    </form>
{% else %}
    <div class="error-page">
        <h1>Panier Vide!</h1>
        <p>Rien à afficher ici...</p>
        <a href="/collections/all">Visiter notre collection</a>
    </div>
{% endif %}
