{% if cart.item_count > 0 %}
    <div class="cart-page-container">
        {% for item in cart.items %}
            {% include 'cart-item' %}
        {% endfor %}
    </div>
    <form action="/cart" method="post" novalidate>
        <div class="cart-total-info">
            <h1>Total:</h1>
            <p>{{ cart.total_price | money }}</p>
            <button name="checkout" type="submit">Commander</button>
        </div>
    </form>
{% else %}
    <div class="error-page">
        <h1>Panier Vide!</h1>
        <p>Rien à afficher ici...</p>
        <a href="/collections/all">Visiter notre collection</a>
    </div>
{% endif %}
