<div class="landing">
    <div class="landing__banner-image" style="background-image:url({{ settings.index_banner_image | | img_url: 'master' }});"></div>
</div>

<div class="collection">
    <div class="collection__items">
        {% for product in collections.frontpage.products limit:7 %}
            {% include 'product-card' %}
        {% endfor %}
    </div>
</div>